.action-btn button {
  margin: 0 10px 0 0px;
}

.addStudent-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.add-btn-icon {
  font-size: 20px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
}
