<mat-toolbar color="primary">
  <div class="nav-container">
    <a routerLink="" routerLinkActive="active">Student Management</a>
    <div class="right-content">
      <button mat-raised-button color="accent" routerLink="list" routerLinkActive="active">List Student</button>
      <button mat-raised-button color="accent" routerLink="edit" routerLinkActive="active">Edit Student</button>
      <button mat-raised-button color="accent" routerLink="login" routerLinkActive="active">Login Student</button>
      <button mat-raised-button color="accent" routerLink="register" routerLinkActive="active">Register Student</button>
    </div>
  </div>
</mat-toolbar>

<section class="outer-outlet-body">
  <router-outlet></router-outlet>
  <lib-ng-toast></lib-ng-toast>
</section>


<!--******** Font-awesome Icon Link ********-->
<!-- https://fontawesome.com/v5/icons/plus?s=solid&f=classic -->
