<mat-toolbar color="primary">
  <div class="nav-container">
    <a routerLink="" routerLinkActive="active">Student Management</a>
    <div class="right-content">
      <button mat-raised-button routerLink="list" routerLinkActive="active">
        <i class="fa-regular fa-clipboard-list"></i> List
      </button>
      <button mat-raised-button routerLink="edit" routerLinkActive="active">
        <i class="fa-regular fa-pencil"></i> Edit
      </button>
      <button mat-raised-button routerLink="login" routerLinkActive="active">
        <i class="fa-regular fa-arrow-right-to-bracket"></i> Login
      </button>
      <button mat-raised-button routerLink="register" routerLinkActive="active">
        <i class="fa-regular fa-user-plus"></i> Register
      </button>
    </div>
  </div>
</mat-toolbar>

<section class="outer-outlet-body">
  <router-outlet></router-outlet>
  <lib-ng-toast></lib-ng-toast>
</section>


<!--******** Font-awesome Icon Link ********-->
<!-- https://fontawesome.com/v5/icons/plus?s=solid&f=classic -->


<!--********** Angular Install Library **********-->
<!-- angular-material
bootstrap-5
ngb-bootstrap-13.0.0
ng-angular-popup
json-server
font-awesome 6 pro icon cdn -->
